<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <li><a href="{{ url_for('index') }}">Main</a></li>
   {% if g.user.is_authenticated()%}
   <li><a href="{{ url_for('logout') }}">Logout</a></li>
   {% endif %}
   <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
   <li><a href="{{ url_for('my_account') }}">My account</a></li>

<h3>List of users</h3>

{% for user in users %}
    <p class="body"><a href="{{url_for('show_queries', id=user.id)}}"> {{ user.login }} </a> - {{ user.count }} queries </p>
{% endfor %}

<h3>Count of users: <b> {{ users_count }}  </b> </h3>

<h3>List of queries</h3>

{% for query in queries %}
<p> {{ query.query }} - count: {{ query.count }} </p>
{% endfor %}

<h3>Count of queries: <b> {{ queries_count }}  </b> </h3>


 <h3>Select date</h3>
    <form method="post" action="/query_results">
        <p>Start date</p>
        <input type="date" name="start_date">
        <p>End date</p>
        <input type="date" name="end_date">


        <input type="submit" />
    </form>


<p>{{ c }}</p>

</body>
</html>

<!-- -->