<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>List of users</h3>

{% for user in users %}
    <p class="body"><a href="{{url_for('show_queries', id=user.id)}}"> {{ user.login }} </a> - {{ user.count }} queries </p>
{% endfor %}

<h3>Count of users: <b> {{ count }}  </b> </h3>

<h3>List of queries</h3>

{% for query in queries %}
    <p> {{ query }} </p>
{% endfor %}

<h3>Count of queries: <b> {{ q_count }}  </b> </h3>



</body>
</html>

<!-- -->